section(title='Discussion et conclusion')

    p.
        L'influence des principaux paramètres contrôle de l'archet (vitesse, force, distance au chevalet) sur des descripteurs audio classiques ont été étudiés ici à l'aide d'enregistrements réalisés dans des conditions réalistes de jeu.  Les données ont été récoltées en subdivisant ces trois paramètres en trois niveaux d'intention musicale : #[i lent], #[i moyen], #[i rapide] pour la vitesse d'archet, #[i piano], #[i mezzo], #[i forte] pour la force, et #[i ponticello], #[i ordinario] et #[i sul tasto] pour la distance au chevalet.

    p.
        Les résultats montrent que dans ces conditions, les descripteurs classiques sont plus corrélés à la vitesse d'archet qu'aux autres paramètres. Plus précisément, ce sont des descripteurs issus de l'enveloppe du signal qui semblent être le plus corrélés à ce paramètre. Les deux autres (force et distance au chevalet) semblent se traduire par des variations d'ordre spectral (fréquence fondamentale, contenu harmonique, ...).
    
    p.
        Afin de vraiment pouvoir comparer les résultats de cette analyse avec les résultats de #{cite('schoonderwaldt2009')}, il serait intéressant de limiter le calcul des descripteurs à la partie stable de la note : cela enlèverait la plupart des descripteurs travaillant sur l'enveloppe du signal, mais rendrait peut-être l'analyse moins sujette aux variations en début et en fin de note.