section(title='Introduction')

    //- Introduce topic
    //- Background
    //- Problem
    //- Objectives
    //- Map

    p Certains paramètres de jeu du violon ont une influence flagrante sur le son produit. Par exemple, une note jouée #[i ponticello] (avec un archet proche du chevalet) n'aura pas la même sonorité que cette même note jouée #[i sul tasto] (avec un archet sur la touche).

    p Dans #{cite('schoonderwaldt2009')}, les auteurs s'intéressent à l'influence de trois paramètres (vitesse d'archet, distance archet-chevalet et force d'archet) sur le son produit à l'aide d'un monocorde et d'une machine à frotter.

    p Cependant, ces conditions expérimentales semblent assez artificielles par rapport à la réalité, où l'instrumentiste est moins précis⋅e et répétable qu'une machine et où l'instrument est plus complexe qu'un monocorde.
    
    p Est-il possible de vérifier les influences observées dans #{cite('schoonderwaldt2009')} dans des conditions réelles de jeu ? Quid de l'influence du violon ?
        
    p Je commencerai par présenter la méthodologie utilisée, avant de détailler les résultats obtenus. Enfin, je conclurai par une discussion des principaux enseignements de cette étude.