section(title='Conclusion')

    p Voici la conclusion de ce rapport qui, je l'espère, n'a pas été trop désagréable à lire. Les deux questions auxquelles je me suis principalement attaquées sont :

    ol 
        li Les violons ont-ils une identité sonore propre, dissociable du violoniste qui les joue ?
        li Dans quelle mesure les violonistes laissent leur empreinte sonore sur leur instrument ?

    p  La première partie, correspondant au début de ma thèse, a permis de montrer qu'il est possible de remonter à certains paramètres de jeu via des descripteurs audio classiquement utilisés dans la littérature, et ce, même dans des conditions de jeu réalistes. La deuxième partie s'est attaquée à la définition d'une signature sonore des violons. Pour ce faire, des descripteurs audio à temps long ont été comparés, et deux d'entre eux (LTCCs et MFCCs) permettent d'obtenir des résultats encourageants. Enfin, l'expérience en cours au CNSMDP va permettre de savoir dans quelle mesure une violoniste peut laisser son empreinte sonore sur un violon en le jouant.

    p Une des principales pistes d'ouverture identifiées serait de réussir à relier les descripteurs utilisés pour l'identification à la perception humaine. En effet, les distances calculées entre les descripteurs ne correspondent pas forcément aux distances relevées lors de questionnaires soumis à un groupe de violonistes et de luthiers. En effet, les distances entre les violons déterminées à partir des descripteurs calculés sur les enregistrements ne semble pas corréler avec les distances perceptives obtenues par catégorisation libre des enregistrements.