section(title='Rapport de CSI')

    link(rel="stylesheet", href="style.css")

    //- include preamble
    include introduction

    include playing_parameters/index
    include identification/index
    include experiment/index

    include conclusion

    include bibliography
    
    div.break

    include appendices/index