section(title='Préambule')

    p.
        Lecteur, Lectrice,
        #[br]
        Bienvenue dans ce rapport relatant le travail effectué lors de ma première année de thèse. Il sera dans un style synthétique, naturel et franc, ce pour au moins une raison : il ne me reste que quelques jours pour en rédiger la suite au moment où j'écris ces lignes. J'espère toutefois que sa lecture sera agréable. À défaut, elle sera courte.