section(title='Discussion et conclusion')

    //- Restate the problem
    //- Sum up the paper
    //- Discuss the implications

    p Le but de cette étude est de savoir à quel point les violonistes peuvent laisser leur empreinte sonore sur leur instrument. Un objectif secondaire, est de savoir à quel point l'aspect visuel des instruments peut modifier la perception des musicien⋅nes.

    p Les données permettant de répondre à la première question sont encore en cours de collecte : après une première session d'enregistrement, le violon #[i Klimke] va être joué pendant plusieurs mois par Stéphanie Marie Degand dans le but de changer sa sonorité. La deuxième session d'enregistrement aura lieu courant janvier : il sera alors possible de quantifier cette évolution à l'aide des descripteurs audio permettant d'identifier les violons. Pour ce qui est de la deuxième question, nous ne pouvons pas affirmer que l'aspect visuel a eu un impact sur les notes qu'ont donné les participant⋅es.

    p Une idée serait alors de modifier légèrement l'objectif secondaire : est-ce que l'histoire d'un violon influe la perception que les violonistes en ont ? Nous pourrions par exemple dire aux participant⋅es que tel violon a été joué par tel soliste. Cela aura-t-il une influence sur les notes qui lui sont données ?