section(title='Introduction')

    //- Introduce topic
    //- Background
    //- Problem
    //- Objectives
    //- Map

    p Il est souvent avancé que le son d'un instrument évolue au fil des années. Cela peut être dû à de nombreuses causes physiques : évolution de la structure et des matériaux, modifications des réglages de l'instrument, etc. Des études, passées ou en cours #{cite('mclennan2017')}, s'intéressent à la quantification de ces changements de sonorité via des mesures acoustiques. Les luthiers et les violonistes avancent aussi que la sonorité d'un instrument évolue au fur et mesure qu'il est joué. Ainsi, un violon neuf sera dit "vert" ou "fermé".

    p Cependant, à ce jour, aucune étude s'étant intéressée à ce sujet (comme #{cite('inta2005')}) n'a permis d'affirmer que de tels changements de sonorité pouvaient être dûs au jeu des violonistes.
    
    p Nous pouvons alors nous poser les questions suivantes : l'interprète est-il aussi à l'origine de l'évolution de l'instrument ? Dans quelle mesure laisse-t-il son empreinte sur le son de celui-ci ? Est-ce que cette évolution n'est pas que ressentie par l'interprète qui a progressivement modifié son jeu pour tirer le meilleur de son instrument ?

    p Pour répondre à ces questions, une expérience est en cours au sein du Conservatoire National Supérieur de Danse et de Musique de Paris, sous la coordination de Julien Dubois, responsable du parc instrumental, et avec le concours de l'enseignante, concertiste-interprète et cheffe d'orchestre Stéphanie Marie Degand. Pendant trois mois à partir de septembre, Stéphanie Marie Degand va jouer un instrument du parc, essayant de lui donner un son différent et d'y laisser son empreinte sonore. L'objectif de cette expérience est de vérifier s'il y a eu d'éventuelles évolutions d'un point de vue acoustique et/ou s'il y a eu des évolutions dans la façon de jouer de l'interprète.

    p Nous commencerons par présenter la méthodologie utilisée, avant de détailler les résultats (partiels) obtenus. Enfin, nous conclurons par une discussion des principaux enseignements de cette étude.