section(title='Méthodologie')

    section(title='Protocole expérimental')

        p L'expérience fait intervenir trois violons : un test (Klimke, 2012) et deux de contrôle (Levaggi, 2012 et Stopanni, 2018). Elle fait aussi intervenir une quinzaine de violonistes de très bon niveau : une violoniste test (Stéphanie Marie Degand), et une quatorzaine de violonistes de contrôle. Au cours de l'expérience, le violon test va être joué par Stéphanie Marie Degand dans le but de l'ouvrir.

        p L'expérience se divise en quatre sessions : les deux premières (à une semaine d'intervalle) ont eu lieu en septembre, les deux dernières (toujours à une semaine d'intervalle) auront lieu quand le violon test sera considéré ouvert par Stéphanie Marie Degand. Le fait qu'il y ait à chaque fois deux sessions à une semaine d'intervalle va permettre de quantifier la variabilité individuelle sans qu'il n'y ait eu aucun changement notable des violons (et ainsi avoir un seuil de variabilité en-dessous duquel nous ne pourrons conclure à une modification réelle du violon).

        p Avant le début de l'expérience, les violons ont été réglés suivant les consignes de Stéphanie Marie. Ils ne seront pas réglés par la suite.
        
        p Par ailleurs, nous avons voulu profiter de cette expérience pour répondre à une autre question qui nous intéresse, liée à l'influence de l'aspect visuel sur l'identité sonore d'un instrument. Nous avons ainsi découpé chaque session en deux conditions, l'une en aveugle, l'autre non, sachant que le Stoppani a un vernis patiné alors que les deux autres ont un vernis plein brillant. Le déroulé de chaque session est présenté ci-dessous.

        table
            caption Déroulé de chaque session
            thead
                tr
                    th Condition
                    th Déroulé de chaque session
                    th Durée (min)
            tbody
                tr
                    td
                    td Accueil, explications
                    td 3
                tr
                    td(rowspan=2) Aveugle
                    td.
                        Période de familiarisation avec les trois instruments. #[br]
                        Notation (sur 10) de chaque instrument suivant les trois critères suivants : puissance, facilité de jeu et beauté du timbre.
                    td 15
                tr
                    td Enregistrements (3 gammes + morceaux du répertoire)
                    td 20
                tr
                    td(rowspan=2) Non-aveugle
                    td Période de familiarisation avec les deux instruments (cf. ci-dessous). Notation suivant les mêmes critères.
                    td 10
                tr
                    td Enregistrements (3 gammes + morceaux du répertoire)
                    td 10
                tr
                    td 
                    td Discussions et conclusion
                    td 5

        p Lors de la partie en aveugle, les participant⋅es se voient présenter les trois violons successivement. En non aveugle, nous ne leur présentons plus que deux violons : le Klimke et le Stopanni (à noter que nous ne précisons pas qu'il s'agit des mêmes violons que ceux ayant été joués en aveugle : la plupart des participants pensent jouer 5 instruments en tout).


    section(title='Enregistrements')

        p Les enregistrements ont été réalisés au CNSMDP, sur le plateau 1. C'est une pièce relativement grande et sèche, équipée de tout le matériel nécessaire pour enregistrer. Les captations ont été faites à l'aide d'un couple de micros #[kbp DPA-4010], qui ont une réponse en fréquence quasiment plate, placés à une cinquantaine de centimètres des violonistes. Les données ont été collectées avec une fréquence d'échantillonnage de 48kHz.

    section(title='Traitement des enregistrements')

        p Les enregistrements seront traités grâce aux méthodes présentées dans la partie sur l'identification individuelle de violon. En effet, ce travail a permis de faire émerger des descripteurs permettant de discriminer le son produit par plusieurs violons. À l'issu de l'expérience, il sera donc possible de quantifier à quel point ces descripteurs appliqués aux enregistrements du violon test ont évolué entre les deux sessions. Il sera également possible de vérifier que ces même descripteurs n'ont pas significativement changé pour les violons de contrôle entre les deux sessions.

        p Nous espérons aussi que ces descripteurs soient suffisamment représentatifs du son d'un violon pour pouvoir calculer une distance entre le son de chaque violon de l'expérience et le son du violon de chaque participant⋅e.

    section(title='Traitement des évaluations')

        p Les évaluations recueillies seront traités par un test statistique (ANOVA) afin de savoir quels facteurs (violon, violoniste, condition et session) les affectent significativement.