section(title='Résultats')

    section(title='Enregistrements')
        
        p Travail en cours... Peut-être sera-t-il prêt d'ici le CSI ? Seul le temps nous le dira.

    section(title='Évaluations')

        p Voici les résultats donnés par le test statistique sur les évaluations récoltées lors de l'expérience :

        include /home/hugo/Thèse/Ouverture par le jeu/notes/anova.html

        p Aucun facteur ne semble significativement affecter les notes. Que le violon n'ait pas un effet significatif peut s'expliquer de plusieurs raisons : d'une part, les violons utilisés sont tous trois de bonne facture et ne présentent pas de défaut flagrant. Deuxièmement, les critères et surtout l'échelle utilisée pour les notés ne sont peut-être pas suffisamment précis pour les discriminer. En effet, lors de l'expérience, nous nous sommes rendus compte que la plupart des candidat⋅es ne donnaient que très rarement des notes en dehors de l'intervalle $[6;9]$. Peut-être faudra-t-il forcer les participant⋅es à utiliser une plage de notes plus grande.

        p Par ailleurs, il ne semble pas y avoir un effet significatif de la condition (aveugle / non-aveugle) dans laquelle les violons ont été notés. En l'état, nous ne rejetons donc pas l'hypothèse nulle selon laquelle l'aspect visuel n'a pas d'influence sur les notes attribuées par les violonistes (ce qui ne signifie pas que cette hypothèse soit vraie, juste que nous n'avons pas suffisamment de preuves).