section(title='Discussion et conclusion')

    p Cette avait pour but de comparer différents descripteurs et différentes méthodes de classification afin de réaliser une tâche d'identification de violons à partir de leur son.

    p Parmi ces descripteurs, les MFCCs et les LTCCs semblent les plus adaptés à cette tâche. Fournis à une méthode de classification telle que les K-NN, ils permettent en effet d'identifier des violons joués par plusieurs violonistes avec une précision de 95%.

    p Une étape importante serait alors d'arriver à relier ces descripteurs à la perception humaine. Serait-il alors possible de les utiliser pour calculer des distances entre les violons ? Leurs dimensions reflètent-elles certaines caractéristiques du timbre d'un instrument ?